h2 {
  font-family: "Poppins";
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.25;
  color: black;
}

p,
li {
  font-family: "Poppins";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #6c757d;
  margin-bottom: 1.5rem;
}

.reference-row {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1.5rem;
  flex-direction: row;
  justify-content: space-between;
  border-top: 1px solid #dee2e6;
  padding-top: 1.5rem;
}

.reference-button {
  width: 50%;
}

@media screen and (max-width: 768px) {
  .reference-row {
    flex-direction: column;
  }

  .reference-button {
    width: 100%;
  }
}

.keywords {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1.5rem;
}

.keywords ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

.keywords li {
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  background-color: #f8f9fa;
  color: #6c757d;
}

.keywords li:hover {
  background-color: #e2e6ea;
}

.keywords li::before {
  content: "#";
}
