.pagination {
  width: 15px;
  height: 5px;
  background-color: rgb(185, 185, 185);
  border-radius: 5px;
  transition: 0.5s all ease;
}

.pagination.active {
  width: 30px;
  background-color: rgb(189, 146, 92);
}

.pagination-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  gap: 10px;
}
