<div class="container mb-5">
  <div class="row">
    <div class="col-12">
      <h2 class="mb-3" i18n="project-h2">Proyek Sebelumnya</h2>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-12">
      <ngx-slick-carousel
        class="carousel"
        #slickModal="slick-carousel"
        [config]="slideConfig"
      >
        <div
          ngxSlickItem
          class="slide"
          *ngFor="let project of projects; index as i"
          data-aos="fade-up"
        >
          <div class="card mx-3">
            <div class="project-image-wrapper">
              <div
                [routerLink]="['/Project', project.id]"
                class="project-image"
                [ngStyle]="{ 'background-image': 'url(' + project.img + ')' }"
              ></div>
            </div>
            <div class="p-3">
              <p>{{ project.location }}</p>
              <h3>{{ project.name }}</h3>
            </div>
          </div>
        </div>
      </ngx-slick-carousel>
    </div>
  </div>
</div>
