<div class="about-wrapper">
  <div class="container mb-5">
    <div class="row justify-content-center">
      <div class="col-xl-6 col-lg-6 d-flex align-items-stretch">
        <div class="about-image">
          <img
            src="/assets/images/tech.png"
            alt="Alpha Konstruksi Nusantara Engineer is showing the use of technology."
            class="w-100 my-auto"
          />
        </div>
      </div>
      <div
        class="col-xl-6 col-lg-6 d-flex align-items-stretch"
        style="flex-direction: column"
      >
        <h2 class="mb-3">Membangun dengan Teknologi Terkini</h2>
        <p class="mb-5">
          PT Alpha Konstruksi Nusantara konsisten mengadopsi penggunaan
          teknologi guna menjamin kualitas, keamanan, dan jadwal proyek. Dengan
          tekad untuk selalu berinovasi, kami memasukkan teknologi sebagai inti
          dari setiap aspek konstruksi kami. Pendekatan ini tidak hanya
          memastikan hasil berkualitas tinggi tetapi juga meningkatkan keamanan
          konstruksi dan mematuhi jadwal yang ditetapkan. Dukungan teknologi
          tidak hanya menjadi landasan operasional kami, tetapi juga mendorong
          efisiensi dan ketepatan dalam setiap proyek. Kami yakin bahwa
          penggabungan konstruksi dan teknologi adalah kunci untuk memberikan
          solusi terbaik bagi pelanggan kami.
        </p>

        <app-tech-stack></app-tech-stack>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="video-wrapper">
          <video autoplay muted playsinline loop id="myVideo">
            <source src="/assets/videos/Bore Piling.mp4" type="video/mp4" />
          </video>
        </div>
      </div>
    </div>
  </div>
</div>
