h1 {
  font-family: "Poppins";
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.25;
  color: #6c757d;
}

h2 {
  font-family: "Poppins";
  font-size: 2.75rem;
  font-weight: 600;
  line-height: 1.25;
}

p {
  font-family: "Poppins";
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.5;
  color: #6c757d;
}

.hero-image {
  width: 100%;
  aspect-ratio: 4/5;
  -webkit-mask-image: url("/assets/images/hero-mask.svg");
  mask-image: url("/assets/images/hero-mask.svg");
  background: url("/assets/images/hero-image.webp") no-repeat center center;
  background-size: contain;
  mask-position: center;
  mask-size: contain;
  mask-repeat: no-repeat;
}

.slick-slide {
  margin: 0 15px;
}

.slick-list {
  margin: 0 -15px;
}

.action-button {
  background-color: #bd925c;
  border-radius: 15px;
  color: white;
  font-family: "Poppins";
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5;
  padding: 0.75rem 1.5rem;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  border: none;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}
