<div class="container mb-5">
  <div class="row justify-content-center">
    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
      <h1>PT Alpha Konstruksi Nusantara</h1>
      <h2>
        Menggali Lebih Dalam, Membangun Lebih Kokoh: Ahli Bored-Pile Terpercaya
        di Indonesia!
      </h2>

      <p>
        Selamat datang di PT Alpha Konstruksi Nusantara, ahli kontraktor
        Bored-Pile terkemuka di Indonesia dengan pengalaman lebih dari satu
        dekade. Fondasi kami didasarkan pada keahlian, ketepatan, dan komitmen
        untuk membangun proyek-proyek kokoh di seluruh tanah air. Mari bersama
        kita wujudkan fondasi yang kuat untuk kesuksesan Anda.
      </p>
      <!-- Create action button -->
      <button class="action-button">Mulai sekarang</button>
      <div class="row mt-5">
        <div class="col-12">
          <app-stats></app-stats>
        </div>
      </div>
    </div>
    <div class="col-xl-6 col-lg-6 d-lg-block d-none">
      <ngx-slick-carousel
        class="carousel"
        #slickModal="slick-carousel"
        [config]="slideConfig"
        (afterChange)="afterChange($event)"
      >
        <div ngxSlickItem class="slide" *ngFor="let slide of slides">
          <img src="{{ slide.img }}" [alt]="slide.title" width="100%" />
        </div>
      </ngx-slick-carousel>
      <app-slide-pagination [slide]="index" [total]="3"></app-slide-pagination>
    </div>
  </div>
</div>
