<footer>
  <div class="container">
    <hr />
    <div class="row justify-content-between">
      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12">
        <h2>Navigasi</h2>
        <ul>
          <li routerLink="/">Beranda</li>
          <li routerLink="/Blog">Blog</li>
          <li href="https://hrd.alphakonstruksi.id">Pengelolaan SDM</li>
        </ul>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12">
        <p>
          <a href="tel:622188898292">(021) 88898292</a> |
          <a href="mailto:marketing@alphakonstruksi.id"
            >marketing@alphakonstruksi.id</a
          >
        </p>
        <p>Ruko Asia Tropis blok AT12 no. 21, Kota Harapan Indah, Bekasi.</p>
      </div>
    </div>
  </div>
</footer>
