<footer>
  <div class="container">
    <hr />
    <div class="row justify-content-between">
      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12">
        <h2>Navigasi</h2>
        <ul>
          <li routerLink="/" i18n="footer-landing-page">Beranda</li>
          <li routerLink="/Blog" i18n="footer-blog">Blog</li>
        </ul>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12">
        <p>
          <a href="tel:622188898292">(021) 88898292</a> |
          <a href="mailto:marketing@alphakonstruksi.id"
            >marketing@alphakonstruksi.id</a
          >
        </p>
        <p>Ruko Asia Tropis blok AT12 no. 21, Kota Harapan Indah, Bekasi.</p>
      </div>
    </div>
  </div>
</footer>
<div class="promotion">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <p>
          Proudly presented by
          <a href="https://terranusa.tech">PT Terra Nusa Teknologi</a>
        </p>
      </div>
    </div>
  </div>
</div>
