.action-row {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
}

.content {
  flex-grow: 1;
}

.youtube-frame {
  aspect-ratio: 25/9;
}

@media screen and (max-width: 768px) {
  .youtube-frame {
    aspect-ratio: 16/9;
  }
}

h2 {
  font-family: "Poppins";
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.25;
  color: black;
}

p {
  font-family: "Poppins";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #6c757d;
  margin-bottom: 1.5rem;
}
