<div class="container">
  <div class="row">
    <div class="col-12">
      <h2>Jasa Kami</h2>
    </div>
  </div>
</div>

<div class="container mb-5">
  <div class="row">
    <div class="col-12">
      <mat-chip-listbox aria-label="Service selection" class="mb-3">
        <mat-chip-option
          [selected]="index == i"
          *ngFor="let service of services; index as i"
          (click)="goToIndex(i)"
          >{{ service.title }}</mat-chip-option
        >
      </mat-chip-listbox>
    </div>
    <div class="col-12">
      <ngx-slick-carousel
        class="carousel"
        #slickModal="slick-carousel"
        [config]="slideConfig"
        (afterChange)="afterChange($event)"
      >
        <div ngxSlickItem class="row d-flex" *ngFor="let service of services">
          <div
            class="col-xl-7 col-lg-8 col-md-6 col-sm-10 col-12 order-md-1 order-2"
          >
            <h3>{{ service.title }}</h3>
            <p>{{ service.description }}</p>
          </div>
          <div
            class="col-xl-5 col-lg-4 col-md-6 col-sm-10 col-12 order-md-2 order-1"
          >
            <img [src]="service.img" class="w-100 service-image" />
          </div>
        </div>
      </ngx-slick-carousel>
    </div>
  </div>
</div>
